/* nanum-gothic-regular - latin_korean */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nanum-gothic-v17-latin_korean-regular.eot'); /* IE9 Compat Modes */
    src: local('NanumGothic'),
         url('../fonts/nanum-gothic-v17-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nanum-gothic-v17-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nanum-gothic-v17-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nanum-gothic-v17-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nanum-gothic-v17-latin_korean-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-700 - latin_korean */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/nanum-gothic-v17-latin_korean-700.eot'); /* IE9 Compat Modes */
    src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
         url('../fonts/nanum-gothic-v17-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nanum-gothic-v17-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nanum-gothic-v17-latin_korean-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nanum-gothic-v17-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nanum-gothic-v17-latin_korean-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
}

body{
    background-color: rgb(255, 255, 255);
    padding-top: 130px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;

}

header {
    background-color: black;
    height: 130px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}




a, a:visited{
    text-decoration: none;
    color: black;

}

.main_section{
    width: 950px;
    max-width: 100%;
    margin: 50px auto;
    z-index: 2;
}

#nav_title{
    font-size: 50px;
    color:white;
    margin: 0;
    display: inline;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}
  
#nav_subtitle{
    font-size: 15px;
    color: white;
    margin: 0;
    padding: 0;
}
  
#main_logo{
    margin: 30px auto;
    text-align: center;
}

.practice_container{
    position: relative;
    top: 0;
    border: 1px solid rgb(206, 206, 206);
    max-width: 100%;
}
.practice_nav{
    float: left;
    width: 160px;
    
}


.nav_link, .nav_link_selected{
    padding: 18px 16px 18px 30px;
    font-size: 14px;
    display: block;
}

.nav_link:hover{
    background-color: rgb(226, 226, 226);
}
.nav_link_selected{
    font-weight: bold;

}
.practice_form{
    margin-left: 160px;
    border-left: 1px solid rgb(206, 206, 206);
    padding-top: 40px;
    min-height: 360px;
}

.practice_input{
    padding: 0 55px;
    margin-left: 220px;
}

.practice_label{
    float: left;
    width: 220px;
    text-align: right;
    font-weight: bold;
    margin-top: 6px;
    font-size: 13px;
}

    
.setting_label{
    width: auto;
    font-weight: bold;
    margin-top: 6px;
    float: left;
    width: 49%;
    text-align: right;
}

.setting_input{
    padding: 0 10px;
    margin-left: 51%;
    margin-bottom: 7px;
    text-align: left;
    line-height: 1.4;
    max-width: 51%;
}


.practice_field{
    margin-bottom: 40px;
}

.practice_choice, .practice_choice_date, .submit-wrapper{
    text-align: center;
    padding-bottom: 10px;
}

.practice_choice{
    font-size: 13px;
}
.practice_choice_date, .submit-wrapper, .setting_description{
    font-size: 21px;
    font-weight: bold;
    margin-top: 40px;
}
.practice_error{
    text-align: center;
}
#practice_info{
    color: gray;
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}
#id_number, #id_username{
    width: 300px;
    height: 25px;
    border-radius: 3px;
}

.setting_choice{
    font-size: 13px;
}
.setting_form{
    margin-left: 160px;
    border-left: 1px solid rgb(206, 206, 206);
    padding-top: 1px;
    min-height: 360px;
    text-align: center;
}

.setting_description{
    margin-bottom: 30px;
    text-align: center;
}


.tal{
    text-align: left;
    padding-left:15px;
}

.mt0{
    margin-top:0px
}

@media (max-width: 768px) { 
    header{
        height: 80px;
    }

    #main_logo{
        margin: 17px auto;
    }

    #nav_title{
        font-size: 30px;
    }

    #nav_subtitle{
        font-size: 13px;
    }
    
    .main_section{
        margin: -50px auto;
    }

    .practice_container{
        border: none;
    }


    .practice_nav{
        display: none;
        }
    .practice_form, .setting_form{
        max-width: 90%;
        margin: 0 auto;
        border-left: none;
    }

    .practice_choice_date{
        font-size: 15pt;
    }

    .practice_choice{
        font-size: 12pt;
    }

    .practice_input{
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .practice_label{
        float: none;
        width: auto;
        font-weight: bold;
        margin-top: 6px;
        text-align: center;
    }


    }

 
@media (min-width: 769) { /* 데스크탑 환경 */ }

