@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nanum-gothic-v17-latin_korean-regular.eot'); /* IE9 Compat Modes */
    src: local('NanumGothic'),
         url('../fonts/nanum-gothic-v17-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nanum-gothic-v17-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nanum-gothic-v17-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nanum-gothic-v17-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nanum-gothic-v17-latin_korean-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-700 - latin_korean */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/nanum-gothic-v17-latin_korean-700.eot'); /* IE9 Compat Modes */
    src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
         url('../fonts/nanum-gothic-v17-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nanum-gothic-v17-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nanum-gothic-v17-latin_korean-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nanum-gothic-v17-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nanum-gothic-v17-latin_korean-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
}

*, ::after, ::before{
    box-sizing: content-box;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;

}
.wrapper{
    overflow: hidden;
}

li{
    list-style: none;
}
ul{
    padding: 0;
}
a {
    background-color: transparent;
  }



.login_label{
    width: 200px;
    text-align: left;
    margin: 0 auto;
    font-size: 15px;
}

.login_field input{
    margin-top: 10px;
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    outline: none;
    background: black;
    border-color: white;
    border-radius: 4px;
    border-width: 1px;
    color: white;

}

#main-image{
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 140%;
    clear: both;
    object-fit: cover;
  
  }
  
  #logo-image{
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 52%;
    top: 58%;
    transform: translate(-50%, -50%);
    max-width: 35%;
  }
  
  
  
  .footer{
    color: rgb(180, 180, 180);
    letter-spacing: 3px;
    font-size: 11px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  
.setting_description{
    margin-bottom: 30px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    margin-top: 40px;
}

@media (max-width: 768px){
    .setting_description{
        margin-top: 15px;
    }
}
