.wrapper{
    width: 900px;
    height: 600px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.carousel-container{
    overflow: hidden;
}
.carousel-slide{
    display: flex;
    width: 100%;
}

#btnPrev, #btnNext{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 1;
    border: none;
    outline: none;
}

#btnPrev{
    left: -50px;
    visibility: hidden;
}

#btnNext{
    right: -50px;
}