{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load custom_filters %}


<div class="practice_container">
    {% include 'nav.html' %}

<div class="setting_form">
    <div class="setting_description">
        날짜를 선택하세요.
        {% autoescape off %}
    </div>
    {% for t in res %}
    <div class="setting_description" style="font-size: 19px;">
        <a href="/practice/attchk/{{t.1}}">{{t.0}} <img src="{% static 'image/arrow-down.png' %}" style="width: 16px; height: 16px; transform: rotate(270deg); padding-right: 4px;"></a>
    </div>
        {% endfor %}
        {% endautoescape %}
    </div>

</div>


{% endblock %}