{% extends 'base.html' %}
{% block content %}

<div class="practice_container">
    {% include 'nav.html' %}

<div class="setting_form">
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {% for field in form %}
        <div class="practice_field" style="margin-top: 20px;">
            <div class="practice_label mt0">이름</span></div>
            <div class="practice_input">{{field}}</div>
        </div>
        {% endfor %}
        <div class="submit-wrapper">
            <input type="submit" value="인증">
        </div>
    </form>
    
</div>
</div>





{% if message %}
    <script>
            alert("{{message}}");
    </script>
{% endif %}

{% endblock %}