{% extends 'new_base.html' %}
{% load static %}

{% block page-name %}
합주 시간표
{% endblock %}

{% block page-detail %}
최적화된 시간표를 확인하세요
{% endblock %}

{% block page-content %}
<div class="main-title-wrapper">
    <div class="main-title">04월 26일 (토)</div>
</div>

<div class="main-table-wrapper timetable-wrapper">
    <div class="main-table-tr timetable-tr">
        <div class="main-table-td timetable-td grow-1"></div>
        <div class="main-table-td timetable-td grow-2">Room 1</div>
        <div class="main-table-td timetable-td grow-2">Room 1</div>
        <div class="main-table-td timetable-td grow-2">Room 1</div>
    </div>
    <div class="main-table-tr timetable-tr">
        <div class="main-table-td timetable-td grow-1">16:00</div>
        <div class="main-table-td timetable-td grow-2">X</div>
        <div class="main-table-td timetable-td grow-2">빨간 피터</div>
        <div class="main-table-td timetable-td grow-2">불</div>
    </div>
    <div class="main-table-tr timetable-tr">
        <div class="main-table-td timetable-td grow-1">16:30</div>
        <div class="main-table-td timetable-td grow-2">Hysteria</div>
        <div class="main-table-td timetable-td grow-2">Lean</div>
        <div class="main-table-td timetable-td grow-2">난춘</div>
    </div>
    <div class="main-table-tr timetable-tr">
        <div class="main-table-td timetable-td grow-1">17:00</div>
        <div class="main-table-td timetable-td grow-2">사무라이 하트</div>
        <div class="main-table-td timetable-td grow-2">좋지 아니한가</div>
        <div class="main-table-td timetable-td grow-2">지구가 태양을 네번</div>
    </div>
    <div class="main-table-tr timetable-tr">
        <div class="main-table-td timetable-td grow-1">17:30</div>
        <div class="main-table-td timetable-td grow-2">Ohio</div>
        <div class="main-table-td timetable-td grow-2">아지랑이</div>
        <div class="main-table-td timetable-td grow-2">내 이름 맑음</div>
    </div>
        
    <div class="button-wrapper">
        <input type="button" value="편집" class="button-edit">
    </div>
</div>


<div class="main-title-wrapper">
    <div class="main-title">불참 명단</div>
</div>
<div class="main-table-wrapper timetable-wrapper">
    <div class="main-table-tr">
        <div class="main-table-td grow-2">사무라이하트</div>
        <div class="main-table-td grow-2">05월 25일 (일) 17:00</div>
        <div class="main-table-td grow-2">오준석, 임재원</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-2">사무라이하트</div>
        <div class="main-table-td grow-2">05월 25일 (일) 17:00</div>
        <div class="main-table-td grow-2">오준석, 임재원</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-2">사무라이하트</div>
        <div class="main-table-td grow-2">05월 25일 (일) 17:00</div>
        <div class="main-table-td grow-2">오준석</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-2">사무라이하트</div>
        <div class="main-table-td grow-2">05월 25일 (일) 17:00</div>
        <div class="main-table-td grow-2">오준석, 임재원</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-2">사무라이하트</div>
        <div class="main-table-td grow-2">05월 25일 (일) 17:00</div>
        <div class="main-table-td grow-2">오준석, 임재원</div>
    </div>

</div>



<div class="main-title-wrapper">
    <div class="main-title">합주 미진행</div>
</div>
<div class="main-table-wrapper timetable-wrapper">
    <div class="main-table-tr">
        <div class="main-table-td grow-2">사무라이하트</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-2">사무라이하트</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-2">사무라이하트</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-2">사무라이하트</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-2">사무라이하트</div>
    </div>

</div>


{% endblock %}