{% extends 'new_base.html' %}

{% block page-name %}
불참 신청 내역
{% endblock %}

{% block page-detail %}
합주 불참 신청 내역을 확인하세요
{% endblock %}

{% block page-content %}

{% for date, na_info in na.items %}
<div class="main-title-wrapper">
    <div class="main-title">{{date}}</div>
</div>

<div class="main-table-wrapper">
    <div class="main-table-header">
        <div class="main-table-td grow-1">이름</div>
        <div class="main-table-td grow-1">시간</div>
        <div class="main-table-td grow-2">사유</div>
    </div>

    {% for name in na_info.미제출 %}
    <div class="main-table-tr">
        <div class="main-table-td grow-1">{{name}}</div>
        <div class="main-table-td grow-1"></div>
        <div class="main-table-td grow-2" style="color: red;">미제출</div>
    </div>
    {% endfor %}

    {% for name, time_reason in na_info.불참.items %}
    <div class="main-table-tr">
        <div class="main-table-td grow-1">{{name}}</div>
        <div class="main-table-td grow-1">{{time_reason.시간}}</div>
        <div class="main-table-td grow-2">{{time_reason.사유}}</div>
    </div>
    {% endfor %}
    
    {% for name in na_info.전참 %}
    <div class="main-table-tr">
        <div class="main-table-td grow-1">{{name}}</div>
        <div class="main-table-td grow-1"></div>
        <div class="main-table-td grow-2" style="color: #4fc77d;;">전참</div>
    </div>
    {% endfor %}
</div>
{% endfor %}


{% endblock %}