{% extends 'new_base.html' %}

{% block page-name %}
곡 추가
{% endblock %}

{% block page-detail %}
공연 곡을 추가하세요
{% endblock %}

{% block page-content %}

<div class="main-title-wrapper">
    <div class="main-title">하나의 세션이 여러 명인 경우 콤마(,)로 구분, 없을 경우 비워주세요!!</div>
</div>

<form action="" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="main-table-wrapper" id="form-container">
        <div class="main-table-header">
            <div class="main-table-td grow-1">제목</div>
            <div class="main-table-td grow-1">보컬</div>
            <div class="main-table-td grow-1">드럼</div>
            <div class="main-table-td grow-1">기타</div>
            <div class="main-table-td grow-1">베이스</div>
            <div class="main-table-td grow-1">키보드</div>
            <div class="main-table-td grow-1">ETC</div>
        </div>
        {% for form in formset %}
        <div class="main-table-tr">
            <div class="main-table-td grow-1">
                <div class="form-input">
                    {{ form.title }}
                </div>
            </div>
            <div class="main-table-td grow-1">
                <div class="form-input">
                    {{ form.vocals }}
                </div>
            </div>
            <div class="main-table-td grow-1">
                <div class="form-input">
                    {{ form.drums }}
                </div>
            </div>
            <div class="main-table-td grow-1">
                <div class="form-input">
                    {{ form.guitars }}
                </div>
            </div>
            <div class="main-table-td grow-1">
                <div class="form-input">
                    {{ form.bass }}
                </div>
            </div>
            <div class="main-table-td grow-1">
                <div class="form-input">
                    {{ form.keyboards }}
                </div>
            </div>
            <div class="main-table-td grow-1">
                <div class="form-input">
                    {{ form.etc }}
                </div>
            </div>
        </div>
        {% if form.errors %}
        <div class="main-table-tr">
            <div class="main-table-td grow-1">
                {{ form.title.errors }}
            </div>
            <div class="main-table-td grow-1">
                {{ form.vocals.errors }}
            </div>
            <div class="main-table-td grow-1">
                {{ form.drums.errors }}
            </div>
            <div class="main-table-td grow-1">
                {{ form.guitars.errors }}
            </div>
            <div class="main-table-td grow-1">
                {{ form.bass.errors }}
            </div>
            <div class="main-table-td grow-1">
                {{ form.keyboards.errors }}
            </div>
            <div class="main-table-td grow-1">
                {{ form.etc.errors }}
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <div id="empty-form-template" style="display: none;">
            <div class="main-table-tr form-row">
                <div class="main-table-td grow-1"><div class="form-input">{{ formset.empty_form.title }}</div></div>
                <div class="main-table-td grow-1"><div class="form-input">{{ formset.empty_form.vocals }}</div></div>
                <div class="main-table-td grow-1"><div class="form-input">{{ formset.empty_form.drums }}</div></div>
                <div class="main-table-td grow-1"><div class="form-input">{{ formset.empty_form.guitars }}</div></div>
                <div class="main-table-td grow-1"><div class="form-input">{{ formset.empty_form.bass }}</div></div>
                <div class="main-table-td grow-1"><div class="form-input">{{ formset.empty_form.keyboards }}</div></div>
                <div class="main-table-td grow-1"><div class="form-input">{{ formset.empty_form.etc }}</div></div>
            </div>
        </div>
        <div class="button-wrapper">
            <input type="button" value="행 추가" class="button-edit" id="add-form-button">
            <input type="submit" value="저장" class="button-add">
        </div>
    </div>
</form>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const addButton = document.getElementById('add-form-button');
    const container = document.getElementById('form-container');
    const template = document.getElementById('empty-form-template').innerHTML;
    const totalFormsInput = document.querySelector('input[name="form-TOTAL_FORMS"]');
    
    // 버튼 래퍼 요소 선택.
    const buttonWrapper = document.querySelector('.button-wrapper');

    addButton.addEventListener('click', () => {
        let currentFormCount = parseInt(totalFormsInput.value);
        const newFormHtml = template.replace(/__prefix__/g, currentFormCount);
        
        // 새 폼을 버튼 래퍼의 바로 앞에 삽입
        buttonWrapper.insertAdjacentHTML('beforebegin', newFormHtml);
        
        totalFormsInput.value = currentFormCount + 1;
    });
});
</script>


{% endblock %}