{% extends 'new_base.html' %}

{% block page-name %}
불참 신청 내역
{% endblock %}

{% block page-detail %}
합주 불참 신청 내역을 확인하세요
{% endblock %}

{% block page-content %}

<div class="main-title-wrapper">
    <div class="main-title">04월 26일(토)</div>
</div>

<div class="main-table-wrapper">
    <div class="main-table-header">
        <div class="main-table-td grow-1">이름</div>
        <div class="main-table-td grow-1">시간</div>
        <div class="main-table-td grow-2">사유</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-1">황다현</div>
        <div class="main-table-td grow-1"></div>
        <div class="main-table-td grow-2">미제출</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-1">황다현</div>
        <div class="main-table-td grow-1">16:00~16:30</div>
        <div class="main-table-td grow-2">과외</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-1">정준</div>
        <div class="main-table-td grow-1">16:00~16:30</div>
        <div class="main-table-td grow-2">과외</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-1">황다현</div>
        <div class="main-table-td grow-1">16:00~16:30</div>
        <div class="main-table-td grow-2">집에서 쉴래요</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-1">황다현</div>
        <div class="main-table-td grow-1">16:00~16:30</div>
        <div class="main-table-td grow-2">집에서 쉴래요</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-1">황다현</div>
        <div class="main-table-td grow-1">16:00~16:30</div>
        <div class="main-table-td grow-2">집에서 쉴래요</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-1">황다현</div>
        <div class="main-table-td grow-1">16:00~16:30</div>
        <div class="main-table-td grow-2">집에서 쉴래요</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-1">황다현</div>
        <div class="main-table-td grow-1">16:00~16:30</div>
        <div class="main-table-td grow-2">집에서 쉴래요</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-1">황다현</div>
        <div class="main-table-td grow-1">16:00~16:30</div>
        <div class="main-table-td grow-2">집에서 쉴래요</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-1">황다현</div>
        <div class="main-table-td grow-1">16:00~16:30</div>
        <div class="main-table-td grow-2">집에서 쉴래요</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-1">황다현</div>
        <div class="main-table-td grow-1">16:00~16:30</div>
        <div class="main-table-td grow-2">집에서 쉴래요</div>
    </div>
    <div class="main-table-tr">
        <div class="main-table-td grow-1">황다현</div>
        <div class="main-table-td grow-1">16:00~16:30</div>
        <div class="main-table-td grow-2">집에서 쉴래요</div>
    </div>
    

</div>


{% endblock %}