{% extends 'new_base.html' %}

{% block page-name %}
합주 관리
{% endblock %}

{% block page-detail %}
예정된 합주 일정을 관리하세요
{% endblock %}

{% block page-content %}

<div class="main-title-wrapper">
    <div class="main-title">합주 목록</div>
</div>
<form action="" method="post" onsubmit="return confirm('선택된 합주 일정을 삭제하시겠습니까? 유저가 제출한 불참 정보도 모두 삭제됩니다.')">
{% csrf_token %}
<div class="main-table-wrapper">
    <div class="main-table-header">
        <div class="main-table-td"><input type="checkbox" name="" id="" onclick="selectAll(this)"></div>
        <div class="main-table-td grow-1">날짜</div>
        <div class="main-table-td grow-2">시간</div>
        <div class="main-table-td grow-2">장소</div>
        <div class="main-table-td grow-1">방</div>
        <div class="main-table-td grow-1">곡 당 시간</div>
        <div class="main-table-td grow-1">불참 받기</div>
    </div>
    {% for schedule in schedules %}
    <div class="main-table-tr">
        <div class="main-table-td"><input type="checkbox" name="schedule-delete" value="{{schedule.id}}"></div>
        <div class="main-table-td grow-1">{{schedule.date_to_string}}</div>
        <div class="main-table-td grow-2">{{schedule.start_to_end_to_string}}</div>
        <div class="main-table-td grow-2">{{schedule.location}}</div>
        <div class="main-table-td grow-1">
            <select onchange="updateValue('{{schedule.id}}', 'rooms', this)">
                {% for i in iter_room %}
                <option value="{{i}}" {% if schedule.rooms == i %} selected {% endif %}>{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="main-table-td grow-1">
            <select onchange="updateValue('{{schedule.id}}', 'min', this)">
                {% for i in iter_min %}
                <option value="{{i}}" {% if schedule.min_per_song == i %} selected {% endif %}>{{i}}</option>
                {% endfor %}
            </select>
            분
        </div>
        <div class="main-table-td grow-1"><input type="checkbox"
            onchange="updateValue('{{schedule.id}}', 'current', this)"
            {% if schedule.is_current %}checked{% endif %}></div>
    </div>
    {% endfor %}
    
    <input type="text" name="changedValue" style="display:none;">
    <div class="button-wrapper">
        <input type="submit" value="삭제" class="button-delete" name="action-type">
        {% url 'new_ui_schedule_create' as schedule_create_url %}
        <input type="button" value="추가" class="button-add" onClick="location.href='{{ schedule_create_url }}'">
    </div>
</div>
</form>


<script type="text/javascript">
    function selectAll(button){
        const checkboxes = document.getElementsByName('schedule-delete');
        checkboxes.forEach((checkbox) => {
            checkbox.checked = button.checked;
        })
    }
    function updateValue(scheduleId, attribute, t){
        if(attribute == "current"){
            t.form.changedValue.value = scheduleId + '_' + attribute + '_' + t.checked;
        } else{
            t.form.changedValue.value = scheduleId + '_' + attribute + '_' + t.value;
        }
        t.form.submit();
    }
</script>

{% endblock %}