{% extends 'base.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {% if form %}
        <form action="" method="post">
            {{ form.as_p }}
            {% for choice in choices %}
                <input type="checkbox" name="selected" value="{{choice.0}}">{{choice.1}} <br>
            {% endfor %}
            <input type="submit" value="제출">
        </form>

    {% else %}
        예정된 합주가 없습니다. 잠시만 기다려주세요 :)
    {% endif %}
</form>
<a href="{% url 'setting' %}">관리</a>

{% endblock %}