{% extends 'base.html' %}
{% block content %}
<div class="practice_container">
    {% include 'nav.html' %}

    {% if form %}
    <form method="POST" class="practice_form">
        {% csrf_token %}
        <div id="practice_info" style="line-height: 1.4;">
            합주에 참여할 수 <b style="color: red; text-decoration: underline;">"없는"</b> 시간을 모두 선택해주세요. <br>
            수정이 필요한 경우 다시 제출해주세요. <br>
        </div>
            
            {% for field in form %}
            
            {% if field.name == 'user_name' %}
            <div class="practice_field">
                <div class="practice_label">{{field.label}}</div>
                <div class="practice_input">{{field}}</div>
                {% for error in field.errors %}
                <div class="practice_error"><b style="color: red;">{{error}}</b></div>
                {% endfor %}
            </div>
            <br> <span></span>
        <div><div>
            {% elif 'label' in field.name %}
        </div>
        </div>
            <div class="choice_wrapper">
                    <div class="practice_choice_date">
                        {{field.label}}
                    </div>
            
            
            {% elif 'why_not_coming' in field.name %}
                <div style="margin-bottom: 30px; margin-top: 15px;">
                    <div class="practice_label">불참 사유</div>
                    <div class="practice_input">
                        {{field}}
                    </div>
                </div>

            
            {% elif '-1' in field.name %}
            <div class="grid-container" style="margin-bottom: 20px;">
                <label class="practice_choice attendall" >
                    {{field}}
                    <div class="label-checkbox-blue">
                        <div class="label-text">
                            전체 참여
                        </div>
                    </div>
                </label>
            
            {% elif 'selectall' in field.name %}
                <label class="practice_choice selectall" >
                    {{field}}
                    <div class="label-checkbox">
                        <div class="label-text">
                            전체 불참
                        </div>
                    </div>
                </label>
            </div>

            <div class="grid-container">
            {% else %}
                <label class="practice_choice select_indiv">
                    {{field}}
                    <div class="label-checkbox">
                        <div class="label-text">
                            {{field.label}}
                        </div>
                    </div>
                </label>
            

            {% endif %}
            
            {% endfor %}
        </div>
        </div>

        <div class="submit-wrapper">

            <input type="submit" class="btn btn-outline-primary btn-sm" value="제출"><br>
        </div>
    
    </form>

    {% else %}
    <div class="practice_form" style="text-align: center;">
        예정된 합주가 없습니다. 잠시만 기다려주세요 :)
    </div>
    {% endif %}



</div>
<script type="text/javascript">
    function selectAll(button) {
        const checkboxes = button.parentElement.parentElement.parentElement.querySelectorAll('.select_indiv input[class=checkit]');
        const attendall = button.parentElement.parentElement.firstElementChild.firstElementChild;
        checkboxes.forEach((checkbox) => {
            checkbox.checked = button.checked;
        })
        if (button.checked){
            attendall.checked = 0;
        }
    }
    
    function attendAll(button) {
        const checkboxes = button.parentElement.parentElement.parentElement.querySelectorAll('.select_indiv input');
        const selectall = button.parentElement.parentElement.parentElement.querySelector('.selectall input');
        if(button.checked){
                checkboxes.forEach((checkbox) => {
                checkbox.checked = 0;
            })
            selectall.checked = 0;
        };
    }

    function validateButtonChecked(button) {
        const selectall = button.parentElement.parentElement.parentElement.querySelector('.selectall input');
        const attendall = button.parentElement.parentElement.parentElement.querySelector('.attendall input');

        if(button.checked) {
            attendall.checked = 0;
        }
        
        if(!button.checked){
            selectall.checked = 0;
        }
        
        const checkboxes = button.parentElement.parentElement.parentElement.querySelectorAll('.select_indiv input');
        let allChecked = 1
        if(button.checked){
            checkboxes.forEach((checkbox) =>{
                if(!checkbox.checked){
                    allChecked = 0;
                }
            });
            selectall.checked = allChecked;
        }
    }
</script>


{% endblock %}