{% extends 'base.html' %}
{% block content %}

<div class="practice_container">
    <nav class="practice_nav">
        <div><a href="{% url 'setting' %}" class="nav_link_selected" >관리</a></div>
        <div><a href="{% url 'create' %}" class="nav_link">합주 날짜 생성</a></div>
        <div><a href="{% url 'song_list' %}" class="nav_link">곡 목록/관리</a></div>
        <div><a href="{% url 'user_list' %}" class="nav_link">활동 인원 목록/관리</a></div>
        <div><a href="{% url 'schedule_create' %}" class="nav_link">시간표 짜기</a></div>
        <div><a href="{% url 'who_is_not_coming' %}" class="nav_link">누가 누가 안오나</a></div>
    </nav>

<form method="POST" class="setting_form">
    <div class="setting_description">메인에 노출 될 합주를 선택해주세요</div>
    {% csrf_token %}
    {% for schedule in schedules %}
        <div class="setting_choice">
            
            <input type="checkbox" name="test" value="{{schedule.id}}" {% if schedule.is_current %}checked{% endif %}> {{schedule}}
            <a href="javascript:deleteFunction({{schedule.id}})" style="color: red;">(삭제)</a>
        </div>
        <br>
    {% endfor %}

    <input type="submit" value="변경">
    <br><br>
    {% if message %}
        {{message}}
    {% endif %}
</form>

</div>
<script type="text/javascript">
    function deleteFunction(id) {
        var message = confirm("삭제하시겠습니까?")
        if (message) {
            window.location="/practice/schedule/" + id ; 
        }
    }
</script>
{% endblock %}
