{% extends 'base.html' %}
{% block content %}


<div class="practice_container">
    {% include 'nav.html' %}

<div class="setting_form">

    {% for k, v in df.items %}
    <table style="border-spacing: 15px 12px; margin: 0 auto; text-align: center;">
    <div class="setting_description">
        {{k}}
    </div>
    <tr>
        <td></td>
    {% for j in v.columns %}
        <td style="font-weight: bold;">{{j}}</td>
    {% endfor %}
    </tr>
    {% for j in v.itertuples %}
        <tr>

            {% for i in j %}
                {% if i  %}
                    <td>{{i}}</td>
                {% else %}
                    <td>X</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %} 
    {% endfor %}
</table>

<br>
<form action="" method="post" onsubmit="return confirm('시간표를 확정하고 저장하시겠습니까? 해당 날짜의 기존 저장된 시간표는 삭제됩니다.')">
    {% csrf_token %}
    <input type="submit" value="시간표 확정하기">
</form>

<div class="setting_description">
    불참 명단
</div>

<div style="margin-bottom: 20px; line-height: 1.6;">

    {% for key, value in NA.items %}
    {% if value %}
    {{key}} : {{value}} <br>
    {% endif %}
    {% endfor %}
</div>


</div>
</div>


{% endblock %}