{% extends 'base.html' %}
{% block content %}

<div class="practice_container">
    {% include 'nav.html' %}

<div class="setting_form">

<div class="setting_description">
    활동 인원 목록
</div>

<form method="POST" autocomplete="off">
    {% csrf_token %}
    {% for field in form %}
    {{field}}
    {% endfor %}
    <input type="submit" value="추가" name="add">
</form>


<form action="" method="post" onsubmit="return confirm('선택된 인원을 삭제하시겠습니까? 삭제 시 다시 되돌릴 수 없습니다.')">
    {% csrf_token %}

    <table style="margin: 0 auto">
        <tr>
            <td><input type="checkbox" name="selectall" value="selectall" onclick="selectAll(this)"></td>
            <td style="color:crimson">(전체선택)</td>
        </tr>
        <br>
        {% for user in users %}
        <tr>
            <td><input type="checkbox" value={{user.username}} name="user_name"></td>
            <td>{{user.username}}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="submit-wrapper">
        <input type="submit" value="삭제" name="delete">
    </div>
</form>

</div>
</div>

<script type="text/javascript">
    function selectAll(selectAll) {
        const checkboxes = document.getElementsByName("user_name");
        checkboxes.forEach((checkbox) => {
            checkbox.checked = selectAll.checked
        })
    }
</script>


{% endblock %}