{% extends 'base.html' %}
{% block content %}

{% load humanize %}

<h1>{{info.title}}</h1>
<h4>{{info.description}}</h4>

<table>
    <tr>
        <td>날짜</td>
        <td>값</td>
        <td>설명</td>
        <td>비고</td>
        
    </tr>
    {% for detail in accounting_list %}
    <tr>
        <td>{{detail.date|date:"y-m-d"}}</td>
        <td>{{detail.value|intcomma}}</td>
        <td>{{detail.note}}</td>
        <td>{{detail.remark}}</td>
        <td><a href="{{info.id}}/{{detail.id}}">삭제</a></td>

    </tr>
    {% endfor %}
        
    <tr>
        <td>잔액 : {{sum.value__sum|intcomma}} 원</td>
    </tr>
</table>

<div class="container">
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <input name="date" type="date">
        <input name="value" type="text">
        <input name="note" type="text">
        <input name="remark" type="text">
        <input type="submit" value="추가하기">

    </form>

</div>


{% endblock %}