{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANHYANG</title>
    <link rel="icon" href="{% static 'image/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/youtube_carousel.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        function notReady() {
            alert("준비중입니다.")
        }
    </script>
</head>
<body>
    <div class="wrapper">

        <div class="header">
            <div class="nav-links">
                <a id="nav-banhyang" href="">BANHYANG</a>
            <button id="nav-toggle" style="display:none">toggle</button>
            <ul style="display:none">
                <li class="nav-right"><a onclick="notReady()" href="#">ABOUT</a></li>
                <li class="nav-right"><a onclick="notReady()" href="#">TICKET</a></li>
                <li class="nav-right"><a onclick="notReady()" href="#">GALLERY</a></li>
                <li class="nav-right"><a onclick="notReady()" href="#">APPLY</a></li>
                <li class="nav-right"><a href="/practice">PRACTICE</a></li>
            </ul>
        </div>    
        
        <div style="position: relative;">
            <img src="{% static 'image/concert1.png' %}" alt="concert image" id="main-image" width="1200">
            <img src="{% static 'image/logo2.png' %}" alt="logo2" id="logo-image">    
        </div>
        

    </div>

    <div class="section">
        <div class="section__item">
            <a href="{% url 'practice_apply' %}">
                <span>합주 불참 신청하러 가기</span>
            </a>
        </div>
    </div>
    <!--

        <p id="olv">OFFICIAL LIVE VIDEOS</p>
        
        <div class="carousel-wrapper">
            <div class="carousel-container">
                <div class="carousel-slide">
                </div>
            </div>
            <div id="btnPrev">&#60</div>
            <div id="btnNext">&#62</div>
    -->
    <!--
        
        <img src="{% static 'image/button-left.png' %}" alt="arrow-left" id="btnPrev" width="30">
        <img src="{% static 'image/button-right.png' %}" alt="arrow-right" id="btnNext" width="30">
    -->
    
</div>

</div>
<div class="footer">
    <p>Copyright 2020. YONSEI UNIVERSITY ROCKBAND BANHYANG 34th Jaewon LIM. ALL RIGHTS RESERVED.</p>
</div>
</body>
</html>