{% load static %}
{% load custom_filters %}
{% url 'new_index' as index_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANHYANG</title>
    <link rel="icon" href="{% static 'image/favicon.png' %}"/>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css">
    <link rel="stylesheet" href="{% static 'css/new_index.css' %}">    
</head>
<body>
    <div class="image-wrapper">
        {% static "" as baseURL %}
        <img src="{% static 'image/concert' %}{% generate_random 1 3 %}.png" alt="concert image" id="main-image">
        <a href="{{ index_url }}">
            <img src="{% static 'image/logo2.png' %}" alt="logo2" id="logo-image">
        </a>
    </div>
        
    <div class="login-wrapper">
        <div class="login-wrapper2">

            <div class="icon-wrapper">
                <div class="title2">
                    {{ title }}
                </div>
                
            </div>

            <div class="form-wrapper">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-label">{{ field.label }}</div>
                        <div class="form-field">
                            {{ field }}
                        </div>
                        <div>
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    <input type="submit" value="{{title}}" class="button-login">
                </form>
            </div>
        </div>
    </div>


    <div class="footer">
        Copyright 2020. YONSEI UNIVERSITY ROCKBAND BANHYANG 34th Jaewon LIM. ALL RIGHTS RESERVED.
    </div>
</body>
{% for error in form.non_field_errors %}
    <script>
        alert("{{error}}")
    </script>
{% endfor %}
</html>