{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANHYANG</title>
    <link rel="icon" href="{% static 'image/favicon.png' %}"/>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css">
    <link rel="stylesheet" href="{% static 'css/new_index.css' %}">    
</head>
<body>
    <div class="image-wrapper">
        {% static "" as baseURL %}
        <img src="{% static 'image/concert' %}{% generate_random 1 3 %}.png" alt="concert image" id="main-image">
        <img src="{% static 'image/logo2.png' %}" alt="logo2" id="logo-image">
    </div>
        
    <div class="login-wrapper">
        <div class="login-wrapper2">

            <div class="icon-wrapper">
                <div class="title2">
                    SIGN UP
                </div>
                
            </div>

            <div class="form-wrapper">
                <div class="form-label">아이디</div>
                <div class="form-field">
                    <input type="text" name="" id="">
                </div>
                <div class="form-label">비밀번호</div>
                <div class="form-field">
                    <input type="text" name="" id="">
                </div>
                <div class="form-label">비밀번호 확인</div>
                <div class="form-field">
                    <input type="text" name="" id="">
                </div>
                <div class="form-label">이름</div>
                <div class="form-field">
                    <input type="text" name="" id="">
                </div>
                <div class="form-label">이메일</div>
                <div class="form-field">
                    <input type="text" name="" id="">
                </div>
                <div class="form-label">학번</div>
                <div class="form-field">
                    <input type="text" name="" id="">
                </div>
                <div class="form-label">전화번호</div>
                <div class="form-field">
                    <input type="text" name="" id="">
                </div>
                <input type="submit" value="SIGN UP" class="button-login">
            </div>
        </div>
    </div>


    <div class="footer">
        Copyright 2020. YONSEI UNIVERSITY ROCKBAND BANHYANG 34th Jaewon LIM. ALL RIGHTS RESERVED.
    </div>
</body>
</html>