{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANHYANG</title>
    <link rel="stylesheet" href="{% static 'css/core.css' %}?after">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <div id='main_logo'>
        <a href="{% url 'index' %}" id='nav_title'>반향</a>
        <div id='nav_subtitle'>
            연세대학교 락밴드
        </div>
    </div>


</header>
<div class=main_section>
    {% block content %}
    {% endblock %}

</div>
